<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="demo.css">
</head>
<body>
    <nav class="nav-content">
        <div class="nav-logo">
          <a href="www.website.com">
            <img src="./logo.jpg" width="80">
          </a>
        </div>  
     
        <div class="menu-list">
          <ul id="menu">
            <li><a href='link'>Home</a></li>
             <li><a href='link'>About</a></li>
             <li><a href='link'>Contact</a></li>
            <li><a href='link'>Users</a></li>
          </ul>
        </div>
   </nav>
    <div class="overall">
        <div class="draw">

        </div>
        <div class="circle">

        </div> 
   </div>
   <figure>
    <img src="bg image.jpg" alt="" srcset="">
   </figure>
   <div class="blue">

   </div>
   <div class="box">

   </div>
   <div class="boxes">
    
   </div>
   <div class="content">
    <h1>TRAINING AND COACHING</h1>
    <h3>
        Nibh venenatis cras sed felis eget velit aliquet sagittis id. <br>
        Tellus pellentesque eu tincidunt tortor aliquam nulla.<br>
    </h3>
    <p>image from <b style="text-decoration: underline;">Freepik</b> </p>
    <button>READ MORE</button>
   </div>
   <footer>
    <p>Sample text. Click to select the text box. Click again or double <br>
    click to start editing the text.</p>
    <p class="para"><span>Website Templates</span>created with <span>Website Builder Software.</span>.</p>
   </footer>
    
</body>
</html>